*{
    margin: 0;
    list-style-type: none;
}
@font-face {
    font-family: 'Raleway';
    src: url('assets/font/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('assets/font/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Raleway";
}
header {
    display: flex;
    margin: 0% 2.5%; 
    justify-content: space-between; 
    height: 97px;
}
a.link_menu, a.link_menu:visited, .signUp, .signup:visited {
    padding: 0 25px;
    height: 97px;
    display: flex;
    align-items: center;
    color: #666;
    text-decoration: none;
    border-top: 3px solid transparent;
    transition: 0.4s linear;
    transition-property: border-top, color;
}
a.link_menu:hover, a.link_menu:focus, .signUp:hover, .signUp:focus {
    color: #0065FC;
    border-top-color: #0065FC;
}
.signUp, .signup:visited {
    color: #0065FC;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    margin: 0; 
    display: inherit;
}
.menu li{
    display: inline-block;
}
ul {
    padding: 0;
}
em {
    font-weight: bold;
}
#top {
    margin: 0% 2.5%;
}
#top h1 {
    line-height: 48px;
}
#top p {
    font-size: 18px;
}
#infos {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
#infos i {
    font-size: 12px;
    height: 20px;
    width: 20px;
    color: #0065FC;
    border: 2px #e2e2e2 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#infos p {
    margin-left: 12px;
}
#filters {
    display: flex;
    flex-wrap: wrap;
}
#filters li {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 40px 0 0;
    font-weight: bold;
    font-size: 20px;
}
#filters li a, #filters li a:visited {
    margin: 0;
    box-sizing: content-box;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    position: relative;
    padding: 0 15px 0 60px;
    z-index: 1000;
}
#filters li a:before {
    position: absolute;
    left: -3px;
    width: 51px;
    height: 51px;
    background-color: #DEEBFF;
    content: "";
    transition: all 0.6s ease;
    z-index: -1;
    border-radius: 25.5px;
}
#filters li a:hover:before, #filters li a:focus:before {
    width: calc(100% + 6px);
    border-right: 0px;
}

#filters li a i, #filters li a:visited i {
    line-height: 50px;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    text-align: center;
    background-color: #DEEBFF;
    position: absolute;
    top: -3px;
    left: -3px;
}
.choice {
    display: flex;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 36px;
    align-items: center;
    height: 45px;
}
.choice i {
    font-size: 20px;
    color: #0065FC;
}
form {
    margin: 25px 0px;
}
#search {
    display: flex;
    font-size: 20px;
    align-items: center;
}
#search .fas {
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 16px 0px 0px 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.recherche, .recherche:focus {
    border: 1px #f2f2f2 solid;
    height: 46px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    text-indent: 10px;
}
#search a, #search a:visited {
    text-decoration: none;
    color: white;
    background-color: #0065FC;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 0px 16px 16px 0px;
}
a img {
    transition: transform 0.3s linear;
}
a:hover .images img {
    transform: scale(1.1);
}
.images img {
    width: 100%;
    height: 100%;
}
#host {
    background-color: #f2f2f2;
    border-radius: 25px;
    height: 640px;
    width: 60%;
    padding: 10px 28px 10px 28px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#host ul {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#host li {
    background-color: white;
    border: 5px white solid;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: -5px 5px 6px #aaa;
    width: 30%;
    height: 44%;
}
#host h2, #host div a {
    height: 70px;
    display: flex;
    align-items: center;
}
#host div a, #host div a:visited {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.heberg, .heberg:visited {
    color: black;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s linear;
}
.heberg:hover {
    color: #0065FC;
}
.images {
    overflow: hidden;
}
.heberg .images {
    width: 100%;
    height: 65%;
}
.heberg .images img {
    object-fit: cover;
}
.heberg span {
    font-size: 18px;
    font-weight: bold;
}
.heberg .description {
    height: calc(35% - 15px);
    padding: 10px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heberg .description p {
    font-size: 16px;
}
#mainContent {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 40px 2.5%;
    flex-wrap: nowrap;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    height: 640px;
    width: 30%;
    border-radius: 25px;
    padding: 10px 28px 10px 28px;
}
article>div {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article>div i {
    font-size: 24px;
}
article ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    padding-bottom: 20px;
}
article li {
    border: 5px white solid;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    display: flex;
    box-shadow: -5px 5px 6px #aaa;
    height: 27%;
    width: 100%;
}
.popular, .popular:visited {
    display: flex;
    color: black;
    text-decoration: none;
    width: 100%;
    transition: all 0.3s linear;
}
.popular:hover {
    color: #0065FC;
}
.popular img {
    width: 150px;
    height: 100%;
    object-fit: cover;
}
.popular .description {
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
}
.popular .description span {
    font-size: 18px;
    font-weight: bold;
}
.star {
    font-size: 14px;
    color: #0065FC;
}

.star4 i:last-child, .star3 i:last-child {
    color: #DDD;
}
.star3 i:nth-child(4) {
    color: #DDD;
}
#bottom {
    margin: 0% 2.5%;
}
#activities {
    height: 570px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0px 60px 0px;
}
#activities a,#activities a:visited {
    border-radius: 20px;
    box-shadow: -5px 8px 8px #DDD;
    text-decoration: none;
    color: black;
    overflow: hidden;
    width: 23%;
    transition: all 0.3s linear;
}
#activities a:hover {
    color: #0065FC;
}
#activities a span {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 20px;
}
#activities .images {
    height: 200px;
    width: 100%;
}
#activities .images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s linear;
}
#activities a:nth-child(3n+1) .images {
    height: 510px;
}
footer {
    height: 210px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: start;
}
footer ul {
    width: 33%;
    padding-top: 20px;
}
footer li {
    padding-left: 10%;
    line-height: 30px;
}
footer li span {
    line-height: 60px;
    font-weight: bold;
}
footer li a, footer li a:visited {
    text-decoration: none;
    color: black;
    transition: all 0.3s linear;
}
footer li a:hover, footer li a:focus {
    color: #0065FC;
}
@media all and (orientation: portrait) {
    .star {
        font-size: 40px;
    }
    #mainContent {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0;
    }
    article {
        width: 100%;
        height: 1560px;
        border-radius: 0;
        font-size: 36px;
        padding: 0px 60px;
    }
    article>div {
        height: 240px;
    }
    article>div h2, article>div i {
        font-size: 75px;
    }
    article ul {
        height: 1280px;
        padding-bottom: 60px;
    }
    article li {
        height: 30%;
        border-width: 10px;
        border-radius: 50px;
        box-shadow: -10px 10px 12px #aaa;
    }
    .popular .description {
        font-size: 45px;
        width: 450px;
        margin: 50px 0px 0px 50px;
    }
    .popular .description span {
        font-size: 50px;
    }
    .popular img {
        width: 375px;
        object-fit: cover;
    }
    #host {
        background-color: white;
        width: 100%;
        height: 4900px;
        padding: 0px 60px;
    }
    #host ul {
        height: 90%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    #host li {
        width: 100%;
        height: 650px;
        border-width: 10px;
        border-radius: 50px;
        box-shadow: -10px 10px 12px #aaa;
    }
    .heberg .images {
        height: 400px;
    }
    .heberg .description {
        height: 210px;
        padding: 30px 0px 20px 40px;
    }
    .description span {
        font-size: 50px;
        font-weight: bold;
    }
    .heberg .description p {
        font-size: 45px;
    }
    #host h2, #host div a {
        height: 200px;
        display: flex;
        align-items: center;
        font-size: 75px;
    }
    #host div a {
        height: 200px;
        font-size: 60px;
    }
    #bottom {
        margin: 0;
    }
    #activities {
        height: 4440px;
        width: 100%;
        margin: 60px 60px 120px 60px;
    }
    #activities a {
        width: 100%;
        height: 660px;
    }
    #activities .images {
        height: 480px;
    }
    #activities .images img {
        height: 100%;
        width: 100%;
    }
    #activities a:nth-child(3n+1) .images {
        height: 480px;
    }
    #activities a span {
        height: 180px;
        font-size: 60px;
        align-items: center;
        padding: 0px 40px;
    }
}
