*{
    margin: 0;
    list-style-type: none;
    font-family: "Raleway";
}
header {
    display: flex;
    margin: 0% 3%; 
    justify-content: space-between; 
    height: 97px;
}
a.link_menu, a.link_menu:visited {
    padding: 0 25px;
    height: 97px;
    display: flex;
    align-items: center;
    color: #666;
    text-decoration: none;
    border-top: 3px solid transparent;
}
a.link_menu:hover, a.link_menu:focus {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.signUp, .signup:visited {
    padding: 0 25px;
    height: 100px;
    display: flex;
    align-items: center;
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    margin: 0; 
    display: inherit;
}
.menu li{
    display: inline-block;
}
ul {
    padding: 0;
}
em {
    font-weight: bold;
}
#top {
    margin: 0% 3%;
}
#top h1 {
    margin-bottom: 12px;
    
}
#infos {
    display: flex;
    margin-top: 50px;
}
#infos i {
    font-size: 12px;
    height: 20px;
    width: 20px;
    color: #0065FC;
    border: 2px #e2e2e2 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#infos p {
    margin-left: 12px;
}
#filters {
    display: flex;
    flex-wrap: wrap;
}
#filters li {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 40px 0 0;
    font-weight: bold;
    font-size: 20px;
}
#filters li a, #filters li a:visited {
    margin: 0;
    box-sizing: content-box;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    position: relative;
    padding: 0 15px 0 60px;
    z-index: 1000;
}
#filters li a:before {
    position: absolute;
    left: -3px;
    width: 51px;
    height: 51px;
    background-color: #DEEBFF;
    content: "";
    transition: all 0.7s ease;
    z-index: -1;
    border-radius: 25.5px;
}
#filters li a:hover:before, #filters li a:focus:before {
    width: calc(100% + 6px);
    border-right: 0px;
}

#filters li a i, #filters li a:visited i {
    line-height: 50px;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    text-align: center;
    background-color: #DEEBFF;
    position: absolute;
    top: -3px;
    left: -3px;
}
.choice {
    display: flex;
    margin-left: 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 36px;
    align-items: center;
    height: 45px;
}
.choice i {
    font-size: 20px;
    color: #0065FC;
}
form {
    margin: 25px 0px;
}
#search {
    display: flex;
    font-size: 20px;
    align-items: center;
}
#search .fas {
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    border-radius: 16px 0px 0px 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.recherche, .recherche:focus {
    border: 1px #f2f2f2 solid;
    height: 46px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
#search a, #search a:visited {
    text-decoration: none;
    color: white;
    background-color: #0065FC;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 0px 16px 16px 0px;
}
#host {
    background-color: #f2f2f2;
    border-radius: 40px;
    min-height: 520px;
    padding: 40px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#host ul {
    display: flex;
    min-height: 400px;
    max-width: 720px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.heberg, .heberg:visited {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
#host li {
    background-color: white;
    border: 5px white solid;
    border-radius: 30px;
    overflow: hidden;
} 
.heberg img {
    width: 200px;
    height: 120px;
    object-fit: cover;
}
.heberg h2 {
    font-size: 15px;
}
.heberg i {
    font-size: 12px;
}
.heberg h2, .heberg p, .heberg div {
    margin-left: 20px;
}
#mainContent {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 40px 3%;
    flex-wrap: wrap;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    height: 540px;
    width: 340px;
    border-radius: 40px;
    padding: 40px 30px 30px 30px;
}
article ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 470px;
}
article li {
    border: 5px white solid;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
}
.popular, .popular:visited {
    display: flex;
    color: black;
    text-decoration: none;
}
.popular img {
    height: 125px;
    width: 125px;
    object-fit: cover;
}
.description {
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description h2 {
    font-size: 15px;
    width: 150px;
}
.description + div {
    font-size: 5px;
}
.star {
    font-size: 12px;
}
#bottom {
    margin: 0% 3%;
}
#activities {
    height: 584px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
#activities a,#activities a:visited {
    border-radius: 20px;
    box-shadow: -4px 8px 8px #EEE ;
    text-decoration: none;
    color: black;
    overflow: hidden;
    margin: 15px 15px 15px 0px;
    width: 300px;
}
#activities a h2 {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0px 10px;
}
#activities a img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}
#activities a:nth-child(3n+1) img {
    height: 500px;
}
footer {
    height: 250px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: start;
}
footer ul {
    width: 33%;
    padding-top: 60px;
}
footer li {
    padding-left: 10%;
    line-height: 30px;
}
footer li h3 {
    line-height: 60px;
}
footer li a {
    text-decoration: none;
    color: black;
}
