* {
    margin: 0;
    list-style-type: none;
    font-family: Raleway;
}
header {
    display: flex;
    align-items: center;
    margin: 25px 0px 25px 50px;

}
ul {
    display: flex;
}
li {
    display: flex;
}
#headerMenu {
    justify-content: space-around;
    margin-left: 720px;
    position: relative;
    
}
#headerMenu li {
    margin-left: 54px;
}
#top {
    margin-left: 54px;
}
#top {
    font-size: 0.9em;
}
